.skills
	background-color: #f1f3f5
	padding: 70px 0
	&__num
		float: left
		font-size: 60px
		+font-oswald
	&__text
		padding-left: 20px
		overflow: hidden
		font-size: 20px
		+font-roboto
	&__title
		font-size: 60px
		+font-oswald
	&__elem
		padding: 20px 0
		display: inline-block
		vertical-align: top
		width: 33%

.skill-elem
	&__title
		font-weight: bold