//- index.jade
extends ./templates/head.jade

block title
	title ★

block content
	script(type="x-template")#modal
		.popup
			.popup__body
				router-link(to="/").popup__close
				.popup__name {{work.work_name}}
				img(:src="'media/img/thumb/' + work.thumb", alt="").popup__thumb
				.popup__description {{work.description}}
				.popup__wrap
					a(v-for="image in work.images", v-if="image.length != 0", :href="'media/img/fullsize/' + image", target="_blank")
						img.popup__image(:src="'media/img/fullsize/' + image", alt="")

	.header
		.header__title Ivan Sitnikov
			.header__specialization frontend-developer

	.wrapper.about
		.about__num 01 |
		.about__text
			.about__title About
			p Hi, my name is Ivan. I am 29 years old. I live and work in Volgograd.
			p In 2009 I graduated from the  Volgograd National Technical University, in the Russia and got a degree Specialist in Software Engineering.
			p Since 2005, i'm practice the web development. Until this moment i have a great background only with russian customers, but now i want to work for you. 
			p In the work i always concentrate on your needs and deadline.

	.skills
		.wrapper
			.skills__num 02 |
			.skills__text
				.skills__title Skills

				.skills__elem.skill-elem
					.skill-elem__header._css
						.skill-elem__title CSS:
						.skill-elem__icon-wrap
							img.skill-elem__icon(src="media/img/css.png", alt="")
					.skill-elem__text
						.skill-elem__skill — Pure css
						.skill-elem__skill — Preprocessors: SASS / SCSS, LESS
						.skill-elem__skill — 
							a(href="https://en.bem.info/", target="_blank") BEM
							|  for naming
						.skill-elem__skill — Animations
						.skill-elem__skill — Mixins
				
				.skills__elem.skill-elem
					.skill-elem__header._html
						.skill-elem__title HTML:
						.skill-elem__icon-wrap
							img.skill-elem__icon(src="media/img/html.png", alt="")
					.skill-elem__text
						.skill-elem__skill — Pure HTML
						.skill-elem__skill — Preprocessors: Jade, Blade
						.skill-elem__skill — Bootstrap

				.skills__elem.skill-elem 
					.skill-elem__header._js
						.skill-elem__title JavaScript:
						.skill-elem__icon-wrap
							img.skill-elem__icon(src="media/img/javascript.png", alt="")
					.skill-elem__text
						.skill-elem__skill — Pure JavaScript
						.skill-elem__skill — Library: jQuery, TweenMax
						.skill-elem__skill — npm
						.skill-elem__skill — Gulp
						.skill-elem__skill — Grunt
				
				.skills__elem.skill-elem
					.skill-elem__header._other
						.skill-elem__title Other skills:
						.skill-elem__icon-wrap
							img.skill-elem__icon(src="media/img/php.png", alt="")
					.skill-elem__text
						.skill-elem__skill — PHP
						.skill-elem__skill — Laravel: Blade, Elloquent, Routing, Queues, Migrations
						.skill-elem__skill — SQL
						.skill-elem__skill — JSON
						.skill-elem__skill — XML
						.skill-elem__skill — SVG
				
				.skills__elem.skill-elem
					.skill-elem__header._environment
						.skill-elem__title Environment:
						.skill-elem__icon-wrap
							img.skill-elem__icon(src="media/img/web-development.png", alt="")
					.skill-elem__text
						.skill-elem__skill — 
							a(href="https://github.com/schrodinger-cat/SchrodingerCatBox", target="_blank") Build system
							|  based on Gulp: gulp-sass, gulp-autoprefixer, gulp-jade, gulp-imagemin, gulp-postcss
						.skill-elem__skill — Sublime text
						.skill-elem__skill — Photoshop
						.skill-elem__skill — Avocode / Zeplin
						.skill-elem__skill — SourceTree

				.skills__elem.skill-elem
					.skill-elem__header._communication
						.skill-elem__title Communication:
						.skill-elem__icon-wrap
							img.skill-elem__icon(src="media/img/communication.png", alt="")
					.skill-elem__text
						.skill-elem__skill — Slack
						.skill-elem__skill — Skype
						.skill-elem__skill — Hangouts
						.skill-elem__skill — 
							a(href="https://t.me/Schrodingercat", target="_blank") Telegram
						.skill-elem__skill — 
							a(href="https://github.com/schrodinger-cat", target="_blank") Github
						.skill-elem__skill — 
							a(href="https://bitbucket.org/schrodinger-cat/", target="_blank") BitBucket

	.works
		.wrapper
			.works__num 03 |
			.works__text
				.works__title Works
		.works__wrap
			router-view
			router-link.works-elem(v-for="item in items", :to="item.url")
				.works-elem__name {{item.work_name}}
				.works-elem__year {{item.year}}
				a(v-if="item.link" , :href="item.link", target="_blank").works-elem__link Link
				.works-elem__type {{item.type}}
				.works-elem__thumb(v-bind:style="{ backgroundImage: 'url(media/img/thumb/' + item.thumb + ')' }")
		.works__disclamer And over 50 works. Will be added soon

	.contacts
		.wrapper
			.contacts__num 04 |
			.contacts__text
				.contacts__title Contacts
				p 
					b Social: 
					a(href="https://vk.com/schrodingercatisnotdead", target="_blank") VK
					|  |  
					a(href="https://www.facebook.com/schrodingercatisnotdead", target="_blank") Facebook
					|  |  
					a(href="https://www.upwork.com/o/profiles/users/_~0109fe155d414572ee/", target="_blank") Upwork
					|  |  
					a(href="https://t.me/Schrodingercat", target="_blank") Telegram
					|  |  Skype: schrodingercatisnotdead
				p 
					b Git: 
					a(href="https://github.com/schrodinger-cat", target="_blank") Github
					|  |  
					a(href="https://bitbucket.org/schrodinger-cat/", target="_blank") BitBucket
